* {
  border: none;
  border-radius: 0;
  font-family: "JetBrainsMono Nerd Font", "Font Awesome 6 Free";
  min-height: 0;
}

window#waybar {
  background-color: #171717;
  border-bottom: none;
  color: #e7e7e7;
}

window#waybar {
  font-size: 12pt;
}

#workspaces button {
  background-color: #373737;
  box-shadow: none;
  color: #888888;
  padding: 1px 3px 2px 3px;
}
#workspaces button:hover {
  background: #115555;
  color: #e7e7e7;
  box-shadow: none;
  text-shadow: none;
}
#workspaces button.focused {
  background-color: #115555;
  box-shadow: none;
  color: #e7e7e7;
}
#workspaces button.focused:hover {
  box-shadow: none;
  text-shadow: none;
}

/* Modules
 * -----------------------------------
 */
.modules-left #window {
  margin-left: 15px;
}

.modules-right > * > * {
  color: #e7e7e7;
  padding: 0 7px;
}

#battery.charging {
}
#battery.critical {
  color: #f2777a;
}
#battery.warning {
  color: #ffaa44;
}

#clock {
  padding-right: 2px;
}

#cpu.warning {
  color: #ffaa44;
}

#custom-vpn {
  font-weight: bold;
}


#mode {
  color: #d81860;
  padding: 0 7px;
}

#network,
#pulseaudio {
}

#temperature.critical {
  color: #f2777a;
}

@import "override.css";
